@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); 
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
/*font*/
.fredoka1{
    font-family: 'Fredoka One', cursive;
    font-size:20px;
    color:#444;
}
.fredoka2{
    font-family: 'Fredoka One', cursive;
    font-size:50px;
    color:#444;
}
.fredoka3{
    font-family: 'Fredoka One', cursive;
    font-size:30px;
    color:#444;
}
.fredoka4{
    font-family: 'Fredoka One', cursive;
    font-size:30px;
    color:white;
}
.fredoka5{
    font-family: 'Fredoka One', cursive;
    font-size:50px;
    color:white;
}
.jua1{
    font-family: 'BMJUA';
    font-size: 20px;
    color:#444;
}
.jua2{
    font-family: 'BMJUA';
    font-size: 50px;
    color:#444;
}
.jua3{
    font-family: 'BMJUA';
    font-size: 50px;
    color:white;
}
.noto1{
    font-family: 'Noto Sans KR';
    color:#444;
    font-size:20px;
}
.noto2{
    font-family: 'Noto Sans KR';
    color:rgb(189, 189, 189);
    font-size:16px;
}
.noto3{
    font-family: 'Noto Sans KR';
    color:#444;
    font-size:16px;
}
.noto4{
    font-family: 'Noto Sans KR';
    color:rgba(255,255,255,0.6);
    font-size:16px;
    line-height: 200%;
}
.noto5{
    font-family: 'Noto Sans KR';
    color:white;
    font-size:20px;
}
.noto6{
    font-family: 'Noto Sans KR';
    color:white;
    font-size:12px;
}
.noto7{
    font-family: 'Noto Sans KR';
    color:white;
    font-size:16px;
}

.hoverR:hover{
    color:red;
}
.hoverY:hover{
    color:gold;
}
.hoverG:hover{
    color:yellowgreen;
}
.hoverB:hover{
    color:lightskyblue;
}
.hoverP:hover{
    color:violet;
}


.blockbtnR{
    width:160px;
    height:50px;
    background-color: red;
    box-shadow: 0px 5px 0px 0px darkred;
    color:white;
    border-radius: 10px;
    border: none;
    transition:.3s;
}
.blockbtnR:hover{
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px darkred;
    cursor: pointer;
}
.blockbtnG{
    width:30px;
    height:30px;
    background-color: gold;
    box-shadow: 0px 5px 0px 0px goldenrod;
    color:white;
    border-radius: 10px;
    border: none;
    transition:.3s;
}
.blockbtnG:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px goldenrod;
    cursor: pointer;
}
.blockbtnW{
    width:30px;
    height:30px;
    background-color: white;
    box-shadow: 0px 5px 0px 0px goldenrod;
    color:goldenrod;
    border-radius: 10px;
    border: none;
    transition:.3s;
}
.blockbtnW:hover{
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px goldenrod;
    cursor: pointer;
}


/*header*/
header{
    width:100%;
    height:90px;
    background-color: rgba(255,255,255,0.8);
    position:fixed;
    z-index: 20;
}
.big{
    width:1100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.big img{
    width:60px;
    height:60px;
    cursor: pointer;
}
.big>ul>li{
    display: inline-block;
    padding:30px;
    cursor: pointer;
}
.searchicon{
    width:25px;
    height:25px;
}
.headerbtn{
    background-color: #444;
    color:white;
    padding:3px;
}
#lan{
    background-color: rgba(255,255,255,0);
    padding:5px;
    border:none;
}
#lan>option{
    border:none;
}

/*footer*/
footer{
    width:100%;
    height:650px;
    background-color: black;
}
footer>div{
    width:1100px;
    display: flex;
    justify-content: center;
}
footer>div>div{
    margin-top:50px;
}
footer>div>ul{
    margin-top:40px;
}
footer>div>ul>li{
    margin-top:10px;
}
footer>div:nth-last-of-type(2){
    width:800px;
    margin-top:40px;
}
footer>div:nth-last-of-type(1){
    width:1100px;
    text-align: center;
    margin-top:40px;
    line-height: 180%;
}