@charset "utf-8";

@media screen and (max-width:599px) {
    #sec3{
        width:100%;
        height: 1500px;
    }
    .sec3div1{
        width:90%;
    }
    .sec3div2{
        width:90%;
    }
    .sec3div2>div{
        width:100%;
        height: 250px;
    }
    .wrap3, .wrap4, .wrap5{
        margin-top: -710px;
        margin-left: -870px;
    }
    .wrap1,.wrap2{
        margin-top:-175%;
        margin-left:-200%;
    }
}

@media screen and (min-width:600px) {
    #sec3{
        width:100%;
        height: 1150px;
    }
    .sec3div1{
        width:90%;
    }
    .sec3div2{
        width:90%;
    }
    .sec3div2>div{
        width:50%;
        height: 300px;
    }
    .wrap3, .wrap4, .wrap5{
        margin-top: -710px;
        margin-left: -870px;
    }
    .wrap1, .wrap2{
        margin-top: -750px;
        margin-left: -870px;
    }
}

@media screen and (min-width:1100px) {
    #sec3{
        width:100%;
        height: 900px;
    }
    .sec3div1{
        width:80%;
    }
    .sec3div2{
        width:80%;
    }
    .sec3div2>div{
        width:20%;
        height: auto;
    }
    .wrap1, .wrap2, .wrap3, .wrap4, .wrap5{
        margin-top: -600px;
        margin-left: -440px;
    }
}

@media screen and (min-width:1560px) {
    #sec3{
        width:100%;
        height: 900px;
    }
    .sec3div1{
        width:1100px;
    }
    .sec3div2{
        width:1100px;
    }
    .sec3div2>div{
        width:20%;
        height: auto;
    }
    .wrap1, .wrap2, .wrap3, .wrap4, .wrap5{
        margin-top: -600px;
        margin-left: -440px;
    }
}
